h1 {
   font-size: 3em;
   font-weight: bold;
   margin-top: 0;
}

div#topHeaderRow {
   font-size: 0.9em;
}

.price {
   font-family: Malgun Gothic;
   font-weight: bold;
   font-size: larger;
   color: red;
   letter-spacing: -1px;
   margin-bottom: 10px;
}

.similarTitle {
   font-weight: bolder;
   margin-top: 10px;
   font-size: smaller;
}

.cartText {
   font-weight: bolder;
}

footer {
   margin-top: 1em;
   background-color: #E7E7E7;
}

.tight-form-group {}

#copyrightRow {
   background-color: #3A3A3A;
}